


    .simple-keyboard.myTheme2 .hg-row {
        margin: 0;
    }


        .simple-keyboard.myTheme2 .hg-row:not(:last-child) {
            margin-bottom: 0;
        }

        .simple-keyboard.myTheme2 .hg-row .hg-button {
            background: #448aff;
            color: white;
            margin: 0;
            border-radius: 0;
            border: none;
            padding: 10px;
            box-sizing: border-box;
            height: 60px;
            text-align: center;
        }

            .simple-keyboard.myTheme2 .hg-row .hg-button:not(:last-child) {
                margin-right: 0;
            }



            .simple-keyboard.myTheme2 .hg-row .hg-button:active {
                color: white;
                background: rgba(0, 0, 0, 0.8);
            }
